.mapboxgl-marker {
  cursor: pointer;
}

.map-options {
  position: absolute;
  background: #0000009e;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  padding: 10px;
  color: #fff;
  label {
    display: block;
  }
}

@keyframes marker {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.marker {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 5px;
  background-size: 30px;
  // animation: marker .5s;
  // svg {
  //   fill: #fff;
  //   width: 20px;
  //   height: 20px;
  // }
  // &.ruby {
  //   background: linear-gradient(-90deg, #e1615e, #e45146);
  // }
  // &.python {
  //   background: linear-gradient(-90deg, #3a629b, #3b78a8);
  // }
  // &.php {
  //   background: linear-gradient(-90deg, #59a9e2, #337fde);
  // }
  // &.c {
  //   background: linear-gradient(-90deg, #4fafa3, #54c096);
  // }
  // &.mobile {
  //   background: linear-gradient(-90deg, #d05f8a, #a75d89);
  // }
  // &.net {
  //   background: linear-gradient(-90deg, #4fbbd6, #5ca4f0);
  // }
  // &.html {
  //   background: linear-gradient(-90deg, #f2835d, #ec6532);
  // }
  // &.javascript {
  //   background: linear-gradient(-90deg, #e0b625, #dfa320);
  // }
  // &.java {
  //   background: linear-gradient(-90deg, #ee7176, #ec6682);
  // }
  // &.scala {
  //   background: linear-gradient(-90deg, #ec7073, #e2555a);
  // }
  // &.other {
  //   background: linear-gradient(-90deg, #d365ae, #b967b9);
  // }
  // &.testing {
  //   background: linear-gradient(-90deg, #8ccb64, #699e46);
  // }
  // &.devops {
  //   background: linear-gradient(-90deg, #6171d2, #8974d2);
  // }
  // &.ux {
  //   background: linear-gradient(-90deg, #e6931a, #edb45f);
  // }
  // &.pm {
  //   background: linear-gradient(-90deg, #89c2bd, #5aaaa2);
  // }
  // &.game {
  //   background: linear-gradient(-90deg, #ec5387, #d75581);
  // }
}

.marker {
  .count {
    background: #f54a84;
    position: absolute;
    width: 16px;
    height: 16px;
    line-height: 14px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    right: -6px;
    top: -4px;
    font-size: 10px;
  }
}

.mapboxgl-popup-content {
  img {
    float: left;
    margin-right: 6px;
  }
  h3 {
    margin: 0;
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// @font-face {
//   font-family: 'icomoon';
//   src: url("https://bucket.justjoin.it/fonts/icomoon.eot?hnhvac");
//   src: url("https://bucket.justjoin.it/fonts/icomoon.eot?hnhvac#iefix") format("embedded-opentype"),url("https://bucket.justjoin.it/fonts/icomoon.ttf?hnhvac") format("truetype"),url("https://bucket.justjoin.it/fonts/icomoon.woff?hnhvac") format("woff"),url("https://bucket.justjoin.it/fonts/icomoon.svg?hnhvac#icomoon") format("svg");
//   font-weight: normal;
//   font-style: normal
// }

// [class^="icon-"],[class*=" icon-"] {
//   font-family: 'icomoon' !important;
//   speak: none;
//   font-style: normal;
//   font-weight: normal;
//   font-variant: normal;
//   text-transform: none;
//   line-height: 1;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   color: #fff;
//   font-size: 17px;
//   text-align: center;
// }

// .icon-security:before {
//   content: "\e900"
// }

// .icon-sap:before {
//   content: "\e901"
// }

// .icon-data:before {
//   content: "\e902"
// }

// .icon-go:before {
//   content: "\e903"
// }

// .icon-blockchain:before {
//   content: "\e904"
// }

// .icon-net:before {
//   content: "\e923"
// }

// .icon-php:before {
//   content: "\e924"
// }

// .icon-c:before {
//   content: "\e905"
// }

// .icon-devops:before {
//   content: "\e906"
// }

// .icon-game:before {
//   content: "\e907"
// }

// .icon-html:before {
//   content: "\e908"
// }

// .icon-java:before {
//   content: "\e909"
// }

// .icon-javascript:before {
//   content: "\e90a"
// }

// .icon-mobile:before {
//   content: "\e90b"
// }

// .icon-other:before {
//   content: "\e90c"
// }

// .icon-pm:before {
//   content: "\e90d"
// }

// .icon-python:before {
//   content: "\e90e"
// }

// .icon-ruby:before {
//   content: "\e90f"
// }

// .icon-scala:before {
//   content: "\e910"
// }

// .icon-testing:before {
//   content: "\e911"
// }

// .icon-ux:before {
//   content: "\e912"
// }

// .icon-megaphone:before {
//   content: "\e913"
// }

// .icon-peak:before {
//   content: "\e914"
// }

// .icon-target:before {
//   content: "\e915"
// }

// .icon-trophy:before {
//   content: "\e916"
// }

// .icon-house:before {
//   content: "\e917"
// }

// .icon-rocket:before {
//   content: "\e918"
// }

// .icon-business:before {
//   content: "\e919"
// }

// .icon-display:before {
//   content: "\e91a"
// }

// .icon-shopping-basket:before {
//   content: "\e91b"
// }

// .icon-website-circle:before {
//   content: "\e91c"
// }

// .icon-youtub-circle:before {
//   content: "\e91d"
// }

// .icon-instagram-circle:before {
//   content: "\e91e"
// }

// .icon-linkedin-circle:before {
//   content: "\e91f"
// }

// .icon-twitter-circle:before {
//   content: "\e920"
// }

// .icon-facebook-circle:before {
//   content: "\e921"
// }

// .icon-mountains:before {
//   content: "\e922"
// }

// .icon-amazon:before {
//   content: "\ea87"
// }

// .icon-google-plus3:before {
//   content: "\ea8d"
// }

// .icon-facebook:before {
//   content: "\ea90"
// }

// .icon-facebook2:before {
//   content: "\ea91"
// }

// .icon-instagram:before {
//   content: "\ea92"
// }

// .icon-twitter:before {
//   content: "\ea96"
// }

// .icon-rss:before {
//   content: "\ea9b"
// }

// .icon-rss2:before {
//   content: "\ea9c"
// }

// .icon-youtube:before {
//   content: "\ea9d"
// }

// .icon-twitch:before {
//   content: "\ea9f"
// }

// .icon-vimeo:before {
//   content: "\eaa0"
// }

// .icon-vimeo2:before {
//   content: "\eaa1"
// }

// .icon-github:before {
//   content: "\eab0"
// }

// .icon-skype:before {
//   content: "\eac5"
// }

// .icon-wikipedia:before {
//   content: "\eac8"
// }

// .icon-linkedin:before {
//   content: "\eac9"
// }

.marker.ruby {
  background-image: url("https://bucket.justjoin.it/marker_icons_circle/dark/ruby.png");
}
.marker.python {
  background-image: url("https://bucket.justjoin.it/marker_icons_circle/dark/python.png");
}
.marker.php {
  background-image: url("https://bucket.justjoin.it/marker_icons_circle/dark/php.png");
}
.marker.c {
  background-image: url("https://bucket.justjoin.it/marker_icons_circle/dark/c.png");
}
.marker.mobile {
  background-image: url("https://bucket.justjoin.it/marker_icons_circle/dark/mobile.png");
}
.marker.net {
  background-image: url("https://bucket.justjoin.it/marker_icons_circle/dark/net.png");
}
.marker.html {
  background-image: url("https://bucket.justjoin.it/marker_icons_circle/dark/html.png");
}
.marker.javascript {
  background-image: url("https://bucket.justjoin.it/marker_icons_circle/dark/js.png");
}
.marker.java {
  background-image: url("https://bucket.justjoin.it/marker_icons_circle/dark/java.png");
}
.marker.scala {
  background-image: url("https://bucket.justjoin.it/marker_icons_circle/dark/scala.png");
}
.marker.other {
  background-image: url("https://bucket.justjoin.it/marker_icons_circle/dark/other.png");
}
.marker.testing {
  background-image: url("https://bucket.justjoin.it/marker_icons_circle/dark/testing.png");
}
.marker.devops {
  background-image: url("https://bucket.justjoin.it/marker_icons_circle/dark/devops.png");
}
.marker.ux {
  background-image: url("https://bucket.justjoin.it/marker_icons_circle/dark/ux.png");
}
.marker.pm {
  background-image: url("https://bucket.justjoin.it/marker_icons_circle/dark/pm.png");
}
.marker.game {
  background-image: url("https://bucket.justjoin.it/marker_icons_circle/dark/game.png");
}