body,
#root {
  height: 100vh;
}

a {
  color: #AEBCCA;
  text-decoration: none;
}

.header {
  background: #444648;
  padding: 20px;
  a {
    font-size: 20px;
  }
}

.filters {
  background: #323232;
  padding: 20px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
    }
    a {
      background: #444648;
      display: inline-block;
      padding: 5px 10px;
      border-radius: 14px;
      margin-right: 10px;
      &.active {
        background: linear-gradient(to right, #ba68c8, #9c27b0);
      }
    }
    &.place {
      margin-bottom: 10px;
    }
  }
}

.content {
  background: #323232;
  height: ~"calc(100% - 181px)";
  .column {
    width: 50%;
    float: left;
  }
  .offers {
    padding: 0 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: #444648;
      border-radius: 10px;
    }
    height: 100%;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    a {
      display: inline-block;
      background-color: #444648;
      width: 100%;
      padding: 20px;
      border-radius: 4px;
      position: relative;
      overflow: hidden;
      margin-bottom: 10px;
      min-height: 104px;
      &:hover {
        background-color: #4a4c4e;
      }
      .border {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 4px;
        background: palegoldenrod;
      }
      .image-container {
        float: left;
        width: 10%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        margin-right: 10px;
        img {
          max-width: 100%;
        }
      }
      .name-container {
        float: left;
        span {
          font-size: 12px;
          margin-right: 10px;
        }
      }
      .right-container {
        float: right;
        text-align: right;
        vertical-align: top;
        .price {
          color: rgb(40, 131, 40);
          font-size: 20px;
        }
        div {
          margin-bottom: 10px;
        }
        .badge {
          display: inline-block;
          background: #323232;
          font-size: 12px;
          padding: 4px 8px;
          border-radius: 8px;
          margin-left: 10px;
        }
      }
      h3 {
        margin: 0;
      }
    }
  }
}
.map{
  height: 100%;
}
